In [13]:
import pandas as pd
import numpy as np
from database import engine
from ingredient_map import create_ingredient_map
from quant_preprocess import query_data
from quant_preprocess import cols_to_lower
from quant_preprocess import get_cols_list
from quant_preprocess import query_and_preprocess_data
from quant_preprocess import shape_data_long
from quant_preprocess import merge_long
from quant_preprocess import pivot_wide
from quant_preprocess import recode_ingredients
import os


INPUT_PATH = os.path.join("..//data", "ingredient_prices_clean.csv")

df_drinks = query_and_preprocess_data()
df_prices = pd.read_csv(INPUT_PATH, header=None)

In [2]:
def create_dummies(df):
    
    headers = df.columns[1:]
    d = {'strdrink': df['strdrink'].values.tolist()}
    for e in range(0, len(headers)):
        d[headers[e]] = (df[str(headers[e])] > 0).astype(int).values.tolist()
    return pd.DataFrame.from_dict(d)

In [3]:
def summmary_of_oz(df):
   
    return df.describe().transpose().sort_values('mean',
                                ascending = False).head(10)

In [4]:
def summary_of_usage():
    
    df = query_and_preprocess_data()
    df = create_dummies(df)
    dum_df = create_dummies(df)
    headers = dum_df.columns[1:].values.tolist()
    data = dum_df.describe().transpose().sort_values('mean', 
                                    ascending=False).head(10)
        
    return data

In [15]:
df_prices.sort_values(0, ascending=True)

           0         1
62  absinthe  2.050000
5   advocaat  0.810000
69  aperitif  0.985000
14   aquavit  1.020000
28   baileys  0.907000
..       ...       ...
35     vodka  0.391845
11     water  0.050000
56   whiskey  0.570000
49      wine  0.287948
27      zima  0.120000

[71 rows x 2 columns]

In [19]:

df = query_data()
ingred_cols = get_cols_list(df, "stringredient")
measure_cols = get_cols_list(df, "strmeasure")
df[ingred_cols] = cols_to_lower(df, ingred_cols)
ingredient_long = shape_data_long(
        df, ingred_cols, "stringredient", "", "ingredient"
    )
measure_long = shape_data_long(df, measure_cols, "strmeasure", "_clean", "amount")
combined_long = merge_long(ingredient_long, measure_long)
ingredient_dict = create_ingredient_map()
recoded_long = recode_ingredients(combined_long, ingredient_dict)
combined_wide = pivot_wide(recoded_long)
combined_wide.drop

ingredient,strdrink,absinthe,advocaat,aperitif,aquavit,baileys,beer,bitters,bourbon,brandy,...,sugard,sweet and sour,tequila,tonic water,vermouth,vodka,water,whiskey,wine,zima
0,1-900-FUK-MEUP,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
1,110 in the shade,0.0,0.0,0.00,0.0,0.0,16.0,0.0,0.0,0.0,...,0.0,0.0,1.5,0.0,0.0,0.00,0.0,0.0,0.0,0.0
2,151 Florida Bushwacker,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
3,155 Belmont,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.00,0.0,0.0,0.0,0.0
4,24k nightmare,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,Zizi Coin-coin,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
624,Zoksel,0.0,0.0,0.00,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
625,Zombie,0.0,0.0,0.00,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0
626,Zorbatini,0.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.25,0.0,0.0,0.0,0.0
627,Zorro,0.0,0.0,0.00,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0